</li>
                                <li>
                                    <a class="dropdown-item text-success" href="#" data-bs-toggle="modal" data-bs-target="#spinUpModal{{ strategy.id }}">
                                        <i class="bi bi-arrow-up-circle me-2"></i> Spin Up Price
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#spinDownModal{{ strategy.id }}">
                                        <i class="bi bi-arrow-down-circle me-2"></i> Spin Down Price
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>